% extends "plugin_config.j2"

% block plugin_options

% if options.ctrlp_cmd is defined
let g:ctrlp_cmd = '{{ options.ctrlp_cmd }}'
% endif

% if options.ctrlp_extensions is defined
let g:ctrlp_extensions = '{{ options.ctrlp_extensions }}'
% endif

% if options.ctrlp_working_path_mode is defined
let g:ctrlp_working_path_mode = '{{ options.ctrlp_working_path_mode }}'
% endif

% endblock