" . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
" {{ plugin.name }} Configuration
" Plugin description: {{ plugin.short_description }}

% block plugin_options
    # Plugin options will be inserted here
% endblock