% extends "configured_feature.j2"

% block configured_feature

% if options.ctrlp_cmd is defined
let g:ctrlp_cmd = '{{ options.ctrlp_cmd.value }}'
% endif

% if options.ctrlp_extensions is defined
let g:ctrlp_extensions = {{ options.ctrlp_extensions.value }}
% endif

% if options.ctrlp_working_path_mode is defined
let g:ctrlp_working_path_mode = '{{ options.ctrlp_working_path_mode.value }}'
% endif

% endblock