% extends "titled_feature.j2"

% block titled_feature

set winaltkeys=no "To enable shortcut with Alt, otherwise Alt open GUI menus.
imap <C-b> <C-[>i
imap <C-f> <C-o>a
imap <C-a> <C-o>^
imap <C-e> <End>
imap <M-b> <C-o>b
imap <M-f> <C-o>e<Right>
imap <C-d> <Del>
imap <C-h> <BS>
imap <M-d> <C-o>de
imap <M-h> <C-w>
imap <C-k> <C-o>d$

% endblock