% if options.enabled
" . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
" {{ plugin.name }} Configuration
" Plugin description: {{ plugin.description }}

% block plugin_options
    # Plugin options will be inserted here
% endblock
% endif