% extends "enabled_feature.j2"

% block enabled_feature
" . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
" {{ feature.name }}
" {{ feature.description }}
% block titled_feature
# titled feature contentns will be instered here
% endblock

% endblock