% extends "titled_feature.j2"

% block feature_content

" Trigger configuration. Do not use <tab> if you use https://github.com/Valloric/YouCompleteMe.
% if options.expand_trigger is defined
let g:UltiSnipsExpandTrigger="{{ options.expand_trigger.value }}"
% endif

% if options.jump_forward_trigger is defined
let g:UltiSnipsJumpForwardTrigger="{{ options.jump_forward_trigger.value }}"
% endif

% if options.jump_backward_trigger is defined
let g:UltiSnipsJumpBackwardTrigger="{{ options.jump_backward_trigger.value }}"
% endif

% endblock