" . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
" {{ feature.name }}
" {{ feature.description }}
% block feature_content
# titled feature contents will be instered here
% endblock