<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyVim</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>MyVim</h1>
<h2>An extensible, community driven, simple to use <b>vimrc</b> generator</h2>
<p><b>What is MyVim?</b></p>
<p>
    MyVim was created to make complex, cross platform, conflict-free Vim configurations easy.
</p>
<p>
    Using Vim can save a lot of time due to increased efficiency. However, configuring Vim
    can be time consuming and tiring. Moreover, some Vim configurations that work on Linux or Mac,
    doesn't work on Windows, and vice versa.
    In essence, I strongly believe that one should not learn a new programming
    language just to configure a text editor or an IDE.
</p>
<a href="configure" class="btn btn-lg btn-success" role="button">Start Configuring!</a>
<h2>Wanna help?</h2>
<p>
    MyVim is community driven. This means that everyone can add their piece of Vim wisdom
    to the mix. Contributing is as easy as creating a simple json file and a short template file.
</p>
<p>
    So what are you waiting for? Go to the  <a href="https://github.com/MatanRubin/my.vim">source code on Github</a> to start contributing.
</p>

</body>
</html>