.FeaturesListItem {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #999;

  .details {
    background: #fff;
    border-width: 0px;
    font-size: 12px;
    font-weight: bold;
    height: 72px;
    /*margin-right: 10px;*/
    /*margin-top: -1px;*/
    /*padding: 10;*/
    text-align: left;
    width: 300px;
  }

  .selectedMarker {
    width: 5px;
    background-color: #fff;
  }

  .selected {
    background-color: #0099ff;
  }
}

